[MASTER]
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
disable =
    c-extension-no-member

[FORMAT]
max-line-length=120

[DESIGN]
max-args=6
max-positional-arguments=6
max-locals=25

[TYPECHECK]
extension-pkg-allow-list=numpy,pandas,joblib,sklearn
